<section id="today">

  <div class="container readable">

    <hgroup role="group" aria-roledescription="Heading group">
      <h2>Today</h2>
      <p aria-roledescription="subtitle">
        <time datetime="">1 May</time>
      </p>
    </hgroup>

    <div class="events events--list stack">

      {% assign todaysThemes = events | todaysEvents | where: "type", "Theme Day" %}
      {% for event in todaysThemes %}
        <article
          itemprop="event"
          itemscope
          itemtype="https://schema.org/Event">
          <h3 class="event__title" itemprop="name">
            {% if event.url %}
              <a href="{{ event.url }}">{{ event.title }}</a>
            {% else %}
              {{ event.title }}{% endif %}
          </h3>
          <div class="meta">
            <span class="event__location" itemprop="location">
              <i class="fa-solid fa-fw fa-location-dot"></i>
              {{ event.location }}</span>
            <span class="event__dateStart">
              <span class="sr-only">Starts</span>
              <time datetime="{{ event.dateStart | isoDate }}" itemprop="startDate">{{ event.dateStart | formatDate: 'dddd D MMMM' }}</time>
            </span>
          </div>
        </article>
        <!-- End event -->
      {% endfor %}

    </div>
    <!-- End .events -->

  </div>
  <!-- End .container -->

</section>
<!-- End #today -->

<script>
  function localizeTimes() {
    const times = document.querySelectorAll("time");

    times.forEach((node) => {
      const date = new Date(node.dateTime);
      const newLocaleString = date.toLocaleString([], {
        timeStyle: "long",
        dateStyle: "medium"
      });
      node.textContent = newLocaleString;
    });

    button.remove();
  }

  function helloWorld() {
    console.log("Hello World");
  }

  const button = document.querySelector("#localize-times");
  button.addEventListener("click", localizeTimes);
</script>