---
import EventDate from './EventDate.astro';
import EventDuration from './EventDuration.astro';
let { event } = Astro.props;
let { title, website, format } = event;

// Define a map from types to strings
let typeStrings = {
  'talk': 'Talk',
  'workshop': 'Workshop',
  // Add more types as needed
};

let displayType = typeStrings[format]

---
<article itemprop="subEvent" itemscope itemtype="https://schema.org/Event">
  <span itemprop="name">
    {website ? <a href={website}>{title}</a> : title}
  </span>
  <div>
    <span class="text-small text-muted">
      {displayType} ·
    </span>
    <EventDate event={event} /> .
    <EventDuration event={event} />
  </div>
</article>
