---
import EventDate from './EventDate.astro';
import EventDuration from './EventDuration.astro';
let { event } = Astro.props;
let { title, website, format } = event;

// Define a map from types to strings
let typeStrings = {
  'talk': 'Talk',
  'workshop': 'Workshop',
  'roundtable': 'Roundtable',
  // Add more types as needed
};

let displayType = typeStrings[format]

---
<article class="flow-s" itemprop="subEvent" itemscope itemtype="https://schema.org/Event">
  <span itemprop="name">
    {website ? <a href={website}>{title}</a> : title}
  </span>
  <div class="text-small text-muted">
      {displayType} ·
      { /* Only show dates if event is scheduled */
      event.scheduled ? (
        <>
          <EventDate event={event} /> ·
          <EventDuration event={event} />
        </>
      ) : (
        "Not yet scheduled"
      )
    }
  </div>
</article>
