---
let { event } = Astro.props;
let { title, website, description, attendanceMode, location, callForSpeakers, children, type } = event;
import EventDate from './EventDate.astro';
import EventDelivery from './EventDelivery.astro';
import ChildEvent from './ChildEvent.astro';
import EventDebug from './EventDebug.astro';
---
<article
  class={`event content event--${event.type}`}
  itemscope
  itemtype="https://schema.org/Event"
  data-event-type="normal"
>
  <EventDebug event={event} />
  <h3 class="event__title">
    {website ? <a href={website} class="event__website" itemprop="url">{title}</a> : title}
  </h3>
  <span class="text-muted text-small"><EventDate event={event} /></span>
  <EventDelivery attendanceMode={attendanceMode} location={location} />
  {description && event.type !== 'theme' && (
      <details class="event__description flow">
        <summary>
          <i class="icon fa-solid fa-caret-right"></i> 
          Description
        </summary>
        <p itemprop="description">
          {description}
        </p>
      </details>
  )}
  { /* Check if the event is a parent event */
  event.isParent && (
    <details class="event__children flow">
      <summary>
        <i class="icon fa-solid fa-caret-right"></i>
        Accessibility highlights
        { /* If there are child events, display their count */
        children && children.length > 0 && ` (${children.length})`}
      </summary>
      { /* If there are child events, display a list of them */
      children && children.length > 0 ? (
        <>
          <ul role="list" class="flow">
            {children.map(child => (
              <li><ChildEvent event={child} /></li>
            ))}
          </ul>
        </>
      ) : (
      /* If there are no child events, display a message */
      <p>{event.title} is expected to include one or more accessibility-themed sessions but the full schedule has not yet been announced. Details will be published here closer to the date of the event.</p>
      )}
    </details>
  )}
  <!-- End child events -->
  {callForSpeakers && (
    <div class="event__badges">
      <sl-badge variant="success" pill pulse>Call for speakers</sl-badge>
    </div>
  )}
</article>
