---
import dayjs from 'dayjs';
let { event } = Astro.props;

let dateStart = event.dateStart;
let dateEnd = event.dateEnd;

// Work out the duration of the event in minutes
let duration = dayjs(dateEnd).diff(dayjs(dateStart), 'minutes');

// If the duration is 60 minutes or less, store it in minutes
let formattedDuration;
if (duration <= 60) {
    formattedDuration = `${duration} minutes`;
} else {
    // Otherwise, calculate the hours and remaining minutes and store them
    let hours = Math.floor(duration / 60);
    let minutes = duration % 60;
    // If minutes is greater than 0, display both hours and minutes. Otherwise, display only hours.
    formattedDuration = minutes > 0 ? `${hours} hours ${minutes} minutes` : `${hours} hours`;
}
---
<span class="event__duration">
    <span class="sr-only">Duration</span>
    <time datetime={`PT${duration}M`} itemprop="duration">
        <i class="fa-solid fa-timer"></i>
        {formattedDuration}
    </time>
</span>