---
let { event } = Astro.props;
let { title, website, description, attendanceMode, location, callForSpeakers, children } = event;
import Date from './Date.astro';
import EventDelivery from './EventDelivery.astro';
import ChildEvent from './ChildEvent.astro';
---
<article
  class="event content"
  itemscope
  itemtype="https://schema.org/Event"
  data-event-type="normal"
>
  <h2 class="event__title">
    {website ? <a href={website} class="event__website" itemprop="url">{title}</a> : title}
  </h2>
  <Date event={event} />
  <EventDelivery attendanceMode={attendanceMode} location={location} />
  {description && (
    <details class="event__description flow">
      <summary>
        <i class="icon fa-solid fa-caret-right"></i> 
        Description
      </summary>
      <p itemprop="description">
        {description}
      </p>
    </details>
  )}
  {children && children.length > 0 && (
    <details class="event__children flow">
      <summary>
        <i class="icon fa-solid fa-caret-right"></i>
        Accessibility highlights
      </summary>
      {children && children.length > 0 && (
        <!-- List of child events -->
        <ul role="list" class="flow">
          {children.map(child => (
            <li><ChildEvent event={child} /></li>
          ))}
        </ul>
      )}
    </details>
  )}
  <!-- End child events -->
  {callForSpeakers && (
    <div class="event__badges">
      <sl-badge variant="success" pill pulse>Call for speakers</sl-badge>
    </div>
  )}

</article>
