---
title: Eventua11y - digital accessibility events calendar
layout: layouts/base.liquid
---

<h1 class="sr-only">Accessibility Events</h1>

{% include "today" %}

  <div class="container readable">

  {% edge "liquid" events %}
    <section id="upcoming">
      <h2>Upcoming Events</h2>

      {% assign upcomingEvents = events | upcomingEvents | sort: 'dateStart' %}

      <!-- if there are no upcoming events -->
      {% if upcomingEvents.length == 0 %}
        <p>There are no upcoming events. Check back later.</p>
      {% endif %}

      <div class="events events--list stack">
        {% for event in upcomingEvents %}
          {%- if event.type == "theme" %}
            <article
              class="event event--theme"
              itemprop="event"
              itemscope
              itemtype="https://schema.org/Event">
              <h3 class="event__title" itemprop="name">
                {% if event.website %}
                  <a href="{{ event.website }}">{{ event.title }}</a>
                {% else %}
                  {{ event.title }}{% endif %}
              </h3>
              <div class="event__dates text-muted">
                <span class="event__dateStart">
                  <span class="sr-only">Starts
                  </span>
                  {% if event.day %}
                    <time datetime="{{ event.dateStart | isoDate }}" itemprop="startDate">{{ event.dateStart | localizeDate: "LL" }}</time>
                  {% else %}
                    <time datetime="{{ event.dateStart | isoDate }}" itemprop="startDate">{{ event.dateStart | localizeDate: "LLL z" }}</time>
                  {% endif %}
                </span>
                {% if event.dateEnd %}
                  <span class="event__dateEnd">
                    <span class="sr-only">Ends
                    </span>
                    <i class="fa-solid fa-arrow-right-long"></i>
                    <!-- if event.day is true, use the short date format -->
                    {% if event.day %}
                      <time datetime="{{event.dateEnd | isoDate}}" itemprop="endDate">{{ event.dateEnd | localizeDate: "LL" }}</time>
                    {% else %}
                      <time datetime="{{event.dateEnd | isoDate}}" itemprop="endDate">{{ event.dateEnd | localizeDate: "LLL z" }}</time>
                    {% endif %}
                  </span>
                {% endif %}
              </div>
              <!-- End dates -->
              {% if event.location %}
                <span class="event__location" itemprop="location">
                  <i class="fa-solid fa-fw fa-location-dot"></i>
                  {{ event.location }}</span>
              {% endif %}
              {% debug event  %}
            </article>
            <!-- End event -->
          {% else %}
            <article
              class="event event--{{ event.type }}"
              itemprop="event"
              itemscope
              itemtype="https://schema.org/Event">
              <h3 class="event__title" itemprop="name">
                {% if event.website %}
                  <a href="{{ event.website }}">{{ event.title }}</a>
                {% else %}
                  {{ event.title }}{% endif %}
              </h3>
              <div class="event__dates text-muted">
                <span class="event__dateStart">
                  <span class="sr-only">Starts
                  </span>
                  {% if event.day %}
                    <time datetime="{{ event.dateStart | isoDate }}" itemprop="startDate">{{ event.dateStart | localizeDate: "LL" }}</time>
                  {% else %}
                    <time datetime="{{ event.dateStart | isoDate }}" itemprop="startDate">{{ event.dateStart | localizeDate: "LLL z" }}</time>
                  {% endif %}
                </span>
                {% if event.dateEnd %}
                  <span class="event__dateEnd">
                    <span class="sr-only">Ends
                    </span>
                    <i class="fa-solid fa-arrow-right-long"></i>
                    {% if event.day %}
                      <time datetime="{{event.dateEnd | isoDate}}" itemprop="endDate">{{ event.dateEnd | localizeDate: "LL" }}</time>
                    {% else %}
                      <time datetime="{{event.dateEnd | isoDate}}" itemprop="endDate">{{ event.dateEnd | localizeDate: "LLL z" }}</time>
                    {% endif %}
                  </span>
                {% endif %}
              </div>
              <!-- End dates -->
              <div class="event__delivery">
                {% if event.location %}
                  <span class="event__location" itemprop="location">
                    <i class="fa-solid fa-fw fa-location-dot"></i>
                    {{ event.location }}</span>
                {% endif %}
                {% if event.online %}
                  <span class="event__online">
                    <i class="fa-solid fa-laptop-arrow-down"></i>
                    Online</span>
                {% endif %}
              </div>
              <p class="event__description">{{ event.description }}</p>
              {% debug event  %}
            </article>
            <!-- End .event -->
          {% endif %}
        {% endfor %}
      </div>
      <!-- End .events -->
    </section>
    <!-- End .upcoming -->
  {% endedge %}

</div>
<!-- End container -->